@page "/Accounts"
@inject IAccountService AccountService
@inject IJSRuntime JS
@using BankApp.Domain
@using BankApp.Interfaces

<h3>Mina konton</h3>

@if (accounts is null)
{
    <p>Laddar konton...</p>
}
else if (accounts.Count == 0)
{
    <p>Inga konton hittades. Skapa ett konto först!</p>
}
else
{
    <ul class="list-group">
        @foreach (var acc in accounts)
        {
            <li class="list-group-item">
                <strong>@acc.Name</strong> — @acc.AccountType<br />
                Saldo: @acc.Balance @acc.Currency<br />
                <small>Senast uppdaterad: @acc.LastUpdated.ToLocalTime()</small>
            </li>
               @if (acc.Balance == 0m)
                {
                    <button class="btn btn-sm btn-danger"
                            @onclick="async () => await RemoveAccount(acc.Id)">
                        Ta bort konto
                    </button>
                }
                else
                {
                    <button class="btn btn-sm btn-secondary" disabled title="Saldo måste vara 0">
                        Kan inte ta bort
                    </button>
                }
            
        }
    </ul>
}

@code {
    private List<IBankAccount>? accounts;

    protected override async Task OnInitializedAsync()
    {
        accounts = await AccountService.GetAllAccounts();
    }
    private async Task RemoveAccount(Guid id)
    {
        
        await AccountService.DeleteAccount(id);          
        accounts = await AccountService.GetAllAccounts(); 
        StateHasChanged();
    }
}
