@page "/CreateAccount"
@inject BankApp.Interfaces.IAccountService AccountService 
@using BankApp.Domain
@using BankApp.Interfaces
@using System.ComponentModel.DataAnnotations

<h3>Vänligen Skapa ett konto</h3>

<EditForm Model="_model" OnValidSubmit="CreateAccountAsync">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <table style="border-collapse: separate; border-spacing: 8px 10px;">
        <tr>
            <td><label>Kontonamn</label></td>
            <td>
                <InputText @bind-Value="_model.Name" />
                <ValidationMessage For="@(() => _model.Name)" />
            </td>
        </tr>

        <tr>
            <td><label>Kontotyp</label></td>
            <td>
                <InputSelect @bind-Value="_model.accountType" TValue="AccountType">
                    <option value="">Välj kontotyp!</option>
                    <option value="@AccountType.Deposit">Sparkonto</option>
                    <option value="@AccountType.Savings">Bankkonto</option>
                </InputSelect>
            </td>
        </tr>

        <tr>
            <td><label>Valuta</label></td>
            <td><InputText @bind-Value="_model.Currency" /></td>
        </tr>

        <tr>
            <td><label>Startsaldo</label></td>
            <td><InputNumber @bind-Value="_model.initialBalance" TValue="decimal?" /></td>
        </tr>

        <tr>
            <td></td>
            <td><button type="submit">Skapa konto</button></td>
        </tr>
    </table>
</EditForm>

<h4>Alla konton</h4>

@if (_accounts.Count == 0)
{
    <p>Inga konton skapade än. Skapa konto ovan!</p>
}
else
{
    <ul class="list-group">
        @foreach (var account in _accounts)
        {
            <li>
                <strong>@account.AccountType - @account.Balance - @account.Name</strong>
                @* <small>(uppdaterad @account.LastUpdated.ToLocalTime())</small> *@
            </li>
        }
    </ul>
}

@code {
    private CreateAccountModel _model = new();
    private List<IBankAccount> _accounts = new();

    protected override async Task OnInitializedAsync()
    {
        _accounts = await AccountService.GetAllAccounts();
    }

    /// <summary>
    /// 
    /// </summary>
    /// <returns></returns>
    private async Task CreateAccountAsync()
    {
        try
        {
            await AccountService.CreateAccount(
             _model.Name ?? string.Empty,
             _model.Currency,
             _model.initialBalance ?? 0,
             _model.accountType
            );

            _accounts = await AccountService.GetAllAccounts();
            _model.Clear();
            StateHasChanged();
        }
        catch (Exception exception)
        {
            Console.WriteLine(exception);
        }
    }

    private class CreateAccountModel
    {
        [Required(ErrorMessage = "Kontonamn krävs")]
        public string? Name { get; set; } = string.Empty;
        public AccountType accountType { get; set; }
        public string Currency { get; set; } = "SEK";
        public decimal? initialBalance { get; set; } = 0;

        /// <summary>
        /// 
        /// </summary>
        public void Clear()
        {
            Name = string.Empty;
            Currency = "SEK";
            initialBalance = 0;
        }
    }
}


